    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <app-vertical-menu></app-vertical-menu>

        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Jquery Knob</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Jquery Knob</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Disable Display Input</h4>
                                    <p class="card-subtitle mb-5">Example of disable display input knob chart.</p>

                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-bgColor="#ebeff2"
                                            data-fgColor="#3F51B5" data-displayInput=false value="75" />
                                    </div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Cursor Mode</h4>
                                    <p class="card-subtitle mb-5">Example of cursor mode chart.</p>

                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-cursor=true
                                            data-fgColor="#e83e8c" value="49" />
                                    </div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Display Previous Value</h4>
                                    <p class="card-subtitle mb-5">Example of display previous value chart.</p>

                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-min="-100"
                                            data-fgColor="#f8ac5a" data-displayPrevious=true value="76" />
                                    </div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Angle Offset and Arc</h4>
                                    <p class="card-subtitle mb-5">Example of angle offset and arc chart.</p>
                                    
                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-min="-100"
                                            data-fgColor="#23b5e2" data-displayPrevious=true data-angleOffset=-125
                                            data-angleArc=250 value="95" />
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Angle Offset</h4>
                                    <p class="card-subtitle mb-5">Example of angle offset chart.</p>

                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-angleOffset="90"
                                            data-linecap="round" data-fgColor="#2ac14e" value="68" data-thickness=".15" />
                                    </div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->

                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">5-digit Values, Step 1000</h4>
                                    <p class="card-subtitle mb-5">Example of 5-digit values and step 1000 chart.</p>
                                    
                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-min="-15000"
                                            data-displayPrevious=true data-max="15000" data-step="1000" value="9000"
                                            data-fgColor="#f15050" />
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Readonly</h4>
                                    <p class="card-subtitle mb-5">Example of readonly chart.</p>
                                    
                                    <div class="text-center">
                                        <input data-plugin="knob" data-width="180" data-height="180" data-linecap=round
                                            data-fgColor="#7266bb" value="29" data-skin="tron" data-angleOffset="180"
                                            data-readOnly=true data-thickness=".1" />
                                    </div>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2019 © Xacton.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Myra
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>