<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2"><a routerLink="#" class="logo">Car<span>book</span></a></h2>
            <p>{{allFooterAddress[0]?.description}}</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class=""><a routerLink="#"><span><i class="bi bi-twitter-x" ></i></span></a></li>
              <li class=""><a routerLink="#"><span class="icon-facebook"><i class="bi bi-facebook"></i></span></a></li>
              <li class=""><a routerLink="#"><span class="icon-instagram"><i class="bi bi-instagram"></i></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Hızlı Linkler</h2>
            <ul class="list-unstyled">
              <li><a routerLink="#" class="py-2 d-block">Hakkımızda</a></li>
              <li><a routerLink="#" class="py-2 d-block">Hizmetler</a></li>
              <li><a routerLink="#" class="py-2 d-block">Şart ve Koşullar</a></li>
              <li><a routerLink="#" class="py-2 d-block">En İyi Fiyat Garantisi</a></li>
              <li><a routerLink="#" class="py-2 d-block">Gizlilik &amp; Çerez Politikası</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Müşteri Desteği</h2>
            <ul class="list-unstyled">
              <li><a routerLink="#" class="py-2 d-block">SSS</a></li>
              <li><a routerLink="#" class="py-2 d-block">Ödeme Seçenekleri</a></li>
              <li><a routerLink="#" class="py-2 d-block">Rezervasyon İpuçları</a></li>
              <li><a routerLink="#" class="py-2 d-block">Nasıl Çalışır</a></li>
              <li><a routerLink="#" class="py-2 d-block">Bize Ulaşın</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="text-white">Adres :</span> {{allFooterAddress[0]?.address}}</li>
                  <li><span class="text-white">Telefon :</span> <a href="tel://{{allFooterAddress[0]?.phone}}">{{allFooterAddress[0]?.phone}}</a></li>
                  <li><span class="text-white">Email :</span> <a href="mailto:{{allFooterAddress[0]?.email}}">{{allFooterAddress[0]?.email}}</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Telif Hakkı &copy;<span>{{getDate}}</span> Tüm Hakları Saklıdır | Bu şablon <a routerLink="https://colorlib.com" target="_blank">Colorlib
            </a> Tarafından Üretilmiştir.
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
