    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9  pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a routerLink="index">Ana Sayfa <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2">
              <a routerLink="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Diğer Blogları Oku</h1>
          </div>
        </div>
      </div>
    </section>


    <section class="">
      <div class="container">
        <div class="row">
          <!-- <div *ngFor="let _blog of blog" class="col-md-8 "> -->
            <div  class="col-md-8 ">
              <!-- <div *ngFor="let item of allBlog"> -->
                <div>
                <h3 class="mb-3"> {{allBlog['title']}} </h3>
                <p>{{allBlog['description']}}</p>
                <p>
                  <img  [src]="img" alt="" class="img-fluid">
                </p>
              </div>

            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a *ngFor="let tagCloud of allTagClouds" routerLink="#" class="tag-cloud-link">{{tagCloud.title}}</a>
              </div>
            </div>

            <!-- Yazar Hakkında -->
            <div class="about-author d-flex p-4 bg-light">
              <div *ngFor="let item of getBlogByAuthor">
                <div class="bio mr-5">
                  <img src="{{item.authorImageUrl}}" alt="" class="img-fluid mb-4">
                </div>
                <div   class="desc">
                  <h3>{{item.authorName}}</h3>
                  <p>{{item.authorDescription}}</p>
                </div>
              </div>
            </div>

            <!-- Yorumlar -->
            <div class="pt-5 mt-5">
              <!-- <h3 class="mb-5">{{comments.length}} Comments</h3>
              <ul class="comment-list">
                <li *ngFor="let item of comments"  class="comment">
                  <div class="vcard bio">
                    <img src="../../../assets/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{item.name}}</h3>
                    <div class="meta">{{comment.createdDate|date:'dd MMMM yyyy, HH:mm'}}</div>
                    <p>{{comment.description}}</p>
                    <p><a routerLink="#" class="reply">Yanıtlar</a></p>
                  </div>
                </li>
              </ul> -->
              <!-- END comment-list -->
              
              <!-- Yorum Yapma Alanı -->
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div> <!-- .col-md-8 -->


          <div class="col-md-4 sidebar ">
            <!-- Arama Kutusu -->
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <!-- <i class=" bi bi-search"></i> -->
                  <input type="text" class="form-control" placeholder="Aranacak Kelimeyi Giriniz...">
                </div>
              </form>
            </div>

            <!-- Kategoriler -->
            <div class="sidebar-box ">
              <div class="categories">
                <h3>Kategoriler</h3>
                <li *ngFor="let category of allCategories">
                  <a routerLink="#">{{category?.name}} <span>(12)</span>
                  </a></li>
              </div>
            </div>

            <!-- Son bloklar -->
            <div class="sidebar-box ">
              <h3>Son Bloglar</h3>
              <div *ngFor="let last3Blogs of allLast3BlogsWithAuthors" class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({{last3Blogs.coverImageUrl}});"></a>
                <div class="text">
                  <h3 class="heading"><a routerLink="#">{{last3Blogs.title}}</a></h3>
                  <div class="meta">
                    <div><a routerLink="#"><span ><i class="bi bi-calendar-day"></i></span>   {{last3Blogs.createdDate | date:'dd MMMM yyyy'}}</a></div>|
                    <div><a routerLink="#"><span><i class="bi bi-person-circle"></i></span>   {{last3Blogs.authorName}}</a></div>|
                    <div><a routerLink="#"><span><i class="bi bi-chat-left-text-fill"></i></span>    0</a></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Etiket Bulutu Simdilik Statik -->
            <div class="sidebar-box ">
              <h3>Etiket Bulutu</h3>
              <div class="tagcloud">
                <a *ngFor="let item of allTagClouds" routerLink="#" class="tag-cloud-link">{{item.title}}</a>
              </div>
            </div>

            <!-- Blog detay paragrafı -->
            <div class="sidebar-box ">
              <h3>Paragraf</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->