<head>
    <meta charset="utf-8" />
    <title>CarBook Admin Paneli</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    App favicon
    <link rel="shortcut icon" href="../../assets/adminAssets/images/favicon.ico">
</head>

<!-- <app-pages-starter></app-pages-starter> -->
        <app-admin-index></app-admin-index>
    <!-- jQuery  -->
    <!-- <script src="../../assets/adminAssets/js/jquery.min.js"></script> -->
    <!-- <script src="../../assets/adminAssets/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="../../assets/adminAssets/js/metismenu.min.js"></script> -->
    <!-- <script src="../../assets/adminAssets/js/waves.js"></script> -->
    <!-- <script src="../../assets/adminAssets/js/simplebar.min.js"></script> -->

    <!-- App js -->
    <!-- <script src="../../assets/adminAssets/js/theme.js"></script> -->
        <!-- Morris Js-->
        <!-- <script src="../plugins/morris-js/morris.min.js"></script> -->
        <!-- Raphael Js-->
        <!-- <script src="../plugins/raphael/raphael.min.js"></script> -->
    
        <!-- Morris Custom Js-->
        <!-- <script src="../../assets/adminAssets/pages/dashboard-demo.js"></script> -->
    
        <!-- App js -->
        <!-- <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../plugins/datatables/dataTables.bootstrap4.js"></script>
        <script src="../plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="../plugins/datatables/responsive.bootstrap4.min.js"></script>
        <script src="../plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="../plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="../plugins/datatables/buttons.html5.min.js"></script>
        <script src="../plugins/datatables/buttons.flash.min.js"></script>
        <script src="../plugins/datatables/buttons.print.min.js"></script>
        <script src="../plugins/datatables/dataTables.keyTable.min.js"></script>
        <script src="../plugins/datatables/dataTables.select.min.js"></script>
        <script src="../plugins/datatables/pdfmake.min.js"></script>
        <script src="../plugins/datatables/vfs_fonts.js"></script> -->

        <!-- App js -->
