    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <app-vertical-menu></app-vertical-menu>

        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Feather Icons</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Feather Icons</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->

                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">Examples</h4>
                                <p class="card-subtitle mb-4">Use class <code>&lt;i class="feather-**">&lt;/i></code></p>

                                <div class="row icons-list">
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-activity"></i> feather-activity
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-airplay"></i> feather-airplay
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-alert-circle"></i> feather-alert-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-alert-octagon"></i> feather-alert-octagon 
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-alert-triangle"></i> feather-alert-triangle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-align-center"></i> feather-align-center
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-align-justify"></i> feather-align-justify
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-align-left"></i> feather-align-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-align-right"></i> feather-align-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-anchor"></i> feather-anchor
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-aperture"></i> feather-aperture
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-archive"></i> feather-archive
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-down"></i> feather-arrow-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-down-circle"></i> feather-arrow-down-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-down-left"></i> feather-arrow-down-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-down-right"></i> feather-arrow-down-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-left"></i> feather-arrow-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-left-circle"></i> feather-arrow-left-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-right"></i> feather-arrow-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-right-circle"></i> feather-arrow-right-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-up"></i> feather-arrow-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-up-circle"></i> feather-arrow-up-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-up-left"></i> feather-arrow-up-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-arrow-up-right"></i> feather-arrow-up-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-at-sign"></i> feather-at-sign
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-award"></i> feather-award
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bar-chart"></i> feather-bar-chart
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bar-chart-2"></i> feather-bar-chart-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-battery"></i> feather-battery
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-battery-charging"></i> feather-battery-charging
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bell"></i> feather-bell
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bell-off"></i> feather-bell-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bluetooth"></i> feather-bluetooth
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bold"></i> feather-bold
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-book"></i> feather-book
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-book-open"></i> feather-book-open
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-bookmark"></i> feather-bookmark
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-box"></i> feather-box
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-briefcase"></i> feather-briefcase
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-calendar"></i> feather-calendar
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-camera"></i> feather-camera
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-camera-off"></i> feather-camera-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cast"></i> feather-cast
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-check"></i> feather-check
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-check-circle"></i> feather-check-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-check-square"></i> feather-check-square
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevron-down"></i> feather-chevron-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevron-left"></i> feather-chevron-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevron-right"></i> feather-chevron-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevron-up"></i> feather-chevron-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevrons-down"></i> feather-chevrons-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevrons-left"></i> feather-chevrons-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevrons-right"></i> feather-chevrons-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chevrons-up"></i> feather-chevrons-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-chrome"></i> feather-chrome
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-circle"></i> feather-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-clipboard"></i> feather-clipboard
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-clock"></i> feather-clock
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cloud"></i> feather-cloud
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cloud-drizzle"></i> feather-cloud-drizzle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cloud-lightning"></i> feather-cloud-lightning
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cloud-off"></i> feather-cloud-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cloud-rain"></i> feather-cloud-rain
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cloud-snow"></i> feather-cloud-snow
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-code"></i> feather-code
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-codepen"></i> feather-codepen
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-command"></i> feather-command
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-compass"></i> feather-compass
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-copy"></i> feather-copy
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-down-left"></i> feather-corner-down-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-down-right"></i> feather-corner-down-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-left-down"></i> feather-corner-left-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-left-up"></i> feather-corner-left-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-right-down"></i> feather-corner-right-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-right-up"></i> feather-corner-right-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-up-left"></i> feather-corner-up-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-corner-up-right"></i> feather-corner-up-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-cpu"></i> feather-cpu
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-credit-card"></i> feather-credit-card
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-crop"></i> feather-crop
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-crosshair"></i> feather-crosshair
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-database"></i> feather-database                                           
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-delete"></i> feather-delete
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-disc"></i> feather-disc
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-dollar-sign"></i> feather-dollar-sign
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-download"></i> feather-download
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-download-cloud"></i> feather-download-cloud
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-droplet"></i> feather-droplet
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-edit"></i> feather-edit
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-edit-2"></i> feather-edit-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-edit-3"></i> feather-edit-3
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-external-link"></i> feather-external-link
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-eye"></i> feather-eye
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-eye-off"></i> feather-eye-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-facebook"></i> feather-facebook
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-fast-forward"></i> feather-fast-forward
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-feather"></i> feather-feather
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-file"></i> feather-file
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-file-minus"></i> feather-file-minus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-file-plus"></i> feather-file-plus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-file-text"></i> feather-file-text
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-film"></i> feather-film
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-filter"></i> feather-filter
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-flag"></i> feather-flag
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-folder"></i> feather-folder
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-folder-minus"></i> feather-folder-minus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-folder-plus"></i> feather-folder-plus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-gift"></i> feather-gift
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-git-branch"></i> feather-git-branch
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-git-commit"></i> feather-git-commit
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-git-merge"></i> feather-git-merge
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-git-pull-request"></i> feather-git-pull-request
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-github"></i> feather-github
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-gitlab"></i> feather-gitlab
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-globe"></i> feather-globe
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-grid"></i> feather-grid
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-hard-drive"></i> feather-hard-drive
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-hash"></i> feather-hash
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-headphones"></i> feather-headphones
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-heart"></i> feather-heart
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-help-circle"></i> feather-help-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-home"></i> feather-home
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-image"></i> feather-image
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-inbox"></i> feather-inbox
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-info"></i> feather-info
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-instagram"></i> feather-instagram
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-italic"></i> feather-italic
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-layers"></i> feather-layers
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-layout"></i> feather-layout
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-link"></i> feather-link
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-link-2"></i> feather-link-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-linkedin"></i> feather-linkedin
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-list"></i> feather-list
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-loader"></i> feather-loader
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-lock"></i> feather-lock
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-log-in"></i> feather-log-in
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-log-out"></i> feather-log-out
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-mail"></i> feather-mail
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-map"></i> feather-map
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-map-pin"></i> feather-map-pin
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-maximize"></i> feather-maximize
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-maximize-2"></i> feather-maximize-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-menu"></i> feather-menu
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-message-circle"></i> feather-message-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-message-square"></i> feather-message-square
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-mic"></i> feather-mic
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-mic-off"></i> feather-mic-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-minimize"></i> feather-minimize
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-minimize-2"></i> feather-minimize-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-minus"></i> feather-minus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-minus-circle"></i> feather-minus-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-minus-square"></i> feather-minus-square
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-monitor"></i> feather-monitor
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-moon"></i> feather-moon
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-more-horizontal"></i> feather-more-horizontal
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-more-vertical"></i> feather-more-vertical
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-move"></i> feather-move
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-music"></i> feather-music
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-navigation"></i> feather-navigation
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-navigation-2"></i> feather-navigation-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-octagon"></i> feather-octagon
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-package"></i> feather-package
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-paperclip"></i> feather-paperclip
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-pause"></i> feather-pause
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-pause-circle"></i> feather-pause-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-percent"></i> feather-percent
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone"></i> feather-phone
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone-call"></i> feather-phone-call
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone-forwarded"></i> feather-phone-forwarded 
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone-incoming"></i> feather-phone-incoming
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone-missed"></i> feather-phone-missed
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone-off"></i> feather-phone-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-phone-outgoing"></i> feather-phone-outgoing
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-pie-chart"></i> feather-pie-chart
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-play"></i> feather-play
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-play-circle"></i> feather-play-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-plus"></i> feather-plus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-plus-circle"></i> feather-plus-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-plus-square"></i> feather-plus-square
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-pocket"></i> feather-pocket
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-power"></i> feather-power
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-printer"></i> feather-printer
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-radio"></i> feather-radio
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-refresh-ccw"></i> feather-refresh-ccw
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-refresh-cw"></i> feather-refresh-cw
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-repeat"></i> feather-repeat
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-rewind"></i> feather-rewind
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-rotate-ccw"></i> feather-rotate-ccw
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-rotate-cw"></i> feather-rotate-cw
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-rss"></i> feather-rss
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-save"></i> feather-save
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-scissors"></i> feather-scissors
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-search"></i> feather-search
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-send"></i> feather-send
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-server"></i> feather-server
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-settings"></i> feather-settings
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-share"></i> feather-share
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-share-2"></i> feather-share-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-shield"></i> feather-shield
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-shield-off"></i> feather-shield-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-shopping-bag"></i> feather-shopping-bag
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-shopping-cart"></i> feather-shopping-cart
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-shuffle"></i> feather-shuffle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-sidebar"></i> feather-sidebar
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-skip-back"></i> feather-skip-back
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-skip-forward"></i> feather-skip-forward
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-slack"></i> feather-slack
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-slash"></i> feather-slash
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-sliders"></i> feather-sliders
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-smartphone"></i> feather-smartphone
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-speaker"></i> feather-speaker
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-square"></i> feather-square
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-star"></i> feather-star
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-stop-circle"></i> feather-stop-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-sun"></i> feather-sun
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-sunrise"></i> feather-sunrise
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-sunset"></i> feather-sunset
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-tablet"></i> feather-tablet
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-tag"></i> feather-tag
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-target"></i> feather-target
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-terminal"></i> feather-terminal
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-thermometer"></i> feather-thermometer
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-thumbs-down"></i> feather-thumbs-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-thumbs-up"></i> feather-thumbs-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-toggle-left"></i> feather-toggle-left
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-toggle-right"></i> feather-toggle-right
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-trash"></i> feather-trash
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-trash-2"></i> feather-trash-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-trending-down"></i> feather-trending-down
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-trending-up"></i> feather-trending-up
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-triangle"></i> feather-triangle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-truck"></i> feather-truck
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-tv"></i> feather-tv
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-twitter"></i> feather-twitter
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-type"></i> feather-type
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-umbrella"></i> feather-umbrella
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-underline"></i> feather-underline
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-unlock"></i> feather-unlock
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-upload"></i> feather-upload
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-upload-cloud"></i> feather-upload-cloud
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-user"></i> feather-user
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-user-check"></i> feather-user-check
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-user-minus"></i> feather-user-minus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-user-plus"></i> feather-user-plus
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-user-x"></i> feather-user-x
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-users"></i> feather-users
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-video"></i> feather-video
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-video-off"></i> feather-video-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-voicemail"></i> feather-voicemail
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-volume"></i> feather-volume
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-volume-1"></i> feather-volume-1
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-volume-2"></i> feather-volume-2
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-volume-x"></i> feather-volume-x
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-watch"></i> feather-watch
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-wifi"></i> feather-wifi
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-wifi-off"></i> feather-wifi-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-wind"></i> feather-wind
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-x"></i> feather-x
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-x-circle"></i> feather-x-circle
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-x-square"></i> feather-x-square
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-youtube"></i> feather-youtube
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-zap"></i> feather-zap
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-zap-off"></i> feather-zap-off
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class="feather-zoom-in"></i> feather-zoom-in
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                        <i class=" feather-zoom-out"></i>  feather-zoom-out
                                    </div>
                                   
                                  
                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>


                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2019 © Xacton.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Myra
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>
