<!DOCTYPE html>
<html lang="en">
  <body>
    <div  *ngFor="let banner of allBannersData" class="hero-wrap ftco-degree-bg" style="background-image: url('../../../assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ">
          	<div class="text w-100 text-center mb-md-5 pb-md-5">
	            <h1 class="mb-4">{{banner.title}}</h1>
	            <p style="font-size: 18px;">{{banner.description}}</p>
	            <a href="{{banner.videoUrl}}" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
	            	<div class="icon d-flex align-items-center justify-content-center">
	            		<span class="ion-ios-play"><i class="bi bi-file-earmark-play-fill"></i></span>
	            	</div>
	            	<div class="heading-title ml-5">
		            	<span>{{banner.videoDescription}}</span>
	            	</div>
	            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
	
     <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12	featured-top">
    				<div class="row no-gutters">
	  					<div class="col-md-4 d-flex align-items-center">
	  						<form action="#" class="request-form  bg-primary">
		          		<h2>Make your trip</h2>
			    				<div class="form-group">
			    					<label for="" class="label">Pick-up location</label>
			    					<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
			    				</div>
			    				<div class="form-group">
			    					<label for="" class="label">Drop-off location</label>
			    					<input type="text" class="form-control" placeholder="City, Airport, Station, etc">
			    				</div>
			    				<div class="d-flex">
			    					<div class="form-group mr-2">
			                <label for="" class="label">Pick-up date</label>
			                <input type="text" class="form-control" id="book_pick_date" placeholder="Date">
			              </div>
			              <div class="form-group ml-2">
			                <label for="" class="label">Drop-off date</label>
			                <input type="text" class="form-control" id="book_off_date" placeholder="Date">
			              </div>
		              </div>
		              <div class="form-group">
		                <label for="" class="label">Pick-up time</label>
		                <input type="text" class="form-control" id="time_pick" placeholder="Time">
		              </div>
			            <div class="form-group">
			              <input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
			            </div>
			    			</form>
	  					</div>
	  					<div class="col-md-8 d-flex align-items-center">
	  						<div class="services-wrap rounded-right w-100">
	  							<h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
	  							<div class="row d-flex mb-4">
					          <div class="col-md-4 d-flex align-self-stretch ">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
				              	<div class="text w-100">
					                <h3 class="heading mb-2">Choose Your Pickup Location</h3>
				                </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
				              	<div class="text w-100">
					                <h3 class="heading mb-2">Select the Best Deal</h3>
					              </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ">
					            <div class="services w-100 text-center">
				              	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
				              	<div class="text w-100">
					                <h3 class="heading mb-2">Reserve Your Rental Car</h3>
					              </div>
					            </div>      
					          </div>
					        </div>
					        <p><a routerLink="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
	  						</div>
	  					</div>
	  				</div>
				</div>
            </div>
  		</div>
    </section>


    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center  mb-5">
          	<span class="subheading">Sizin İçin Önerilerimiz</span>
            <h2 class="mb-2">Öne Çıkan Araçlar</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="carousel-car">
    					<div *ngFor="let item of last5CarsWithBrand" class="item">
    						<div class="car-wrap rounded ">
		    					<div class="img rounded d-flex align-items-end" style="background-image: url({{item.coverImageUrl}});">
		    					</div>
		    					<div class="text">
		    						<h2 class="mb-0"><a routerLink="#">{{item.model}}</a></h2>
		    						<div class="d-flex mb-3">
			    						<span class="cat">{{item.brandName}}</span>
			    						<p class="price ml-auto">1200₺ <span>/Günlük</span></p>
		    						</div>
		    						<p class="d-flex mb-0 d-block"><a routerLink="#" class="btn btn-primary py-2 mr-1">
										Aracı Kirala</a> <a routerLink="#" class="btn btn-secondary py-2 ml-1">Detaylar</a></p>
		    					</div>
		    				</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section *ngFor="let item of allAboutData" class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{item.imageUrl}});">
					</div>
					<div class="col-md-6 wrap-about ">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">Hakkımızda</span>
	            <h2 class="mb-4">{{item?.title}}</h2>
				<p>{{item.description}}</p>
	            <p><a routerLink="#" class="btn btn-primary py-3 px-4">Hemen Araç Kirala</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<app-servis></app-servis>


	<app-testimonial> </app-testimonial>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ">
          	<span class="subheading">Blog</span>
            <h2>Recent Blog</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex ">
          	<div class="blog-entry justify-content-end">
              <a routerLink="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/image_1.jpg');">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a routerLink="#">Oct. 29, 2019</a></div>
                  <div><a routerLink="#">Admin</a></div>
                  <div><a routerLink="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a routerLink="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p><a routerLink="#" class="btn btn-primary">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ">
          	<div class="blog-entry justify-content-end">
              <a routerLink="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/image_2.jpg');">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a routerLink="#">Oct. 29, 2019</a></div>
                  <div><a routerLink="#">Admin</a></div>
                  <div><a routerLink="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a routerLink="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p><a routerLink="#" class="btn btn-primary">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ">
          	<div class="blog-entry">
              <a routerLink="blog-single.html" class="block-20" style="background-image: url('../../../assets/images/image_3.jpg');">
              </a>
              <div class="text pt-4">
              	<div class="meta mb-3">
                  <div><a routerLink="#">Oct. 29, 2019</a></div>
                  <div><a routerLink="#">Admin</a></div>
                  <div><a routerLink="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a routerLink="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p><a routerLink="#" class="btn btn-primary">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>	


    <section class="ftco-counter ftco-section img bg-light" id="section-counter">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="60">0</strong>
                <span>Year <br>Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="1090">0</strong>
                <span>Total <br>Cars</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="2590">0</strong>
                <span>Happy <br>Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="67">0</strong>
                <span>Total <br>Branches</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>	