    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <app-vertical-menu></app-vertical-menu>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Pricing</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Pricing</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->


                    <div class="row justify-content-center">
                        <div class="col-xl-10">

                            <!-- Plans -->
                            <div class="row mt-sm-5 mt-3 mb-3">
                                <div class="col-md-4">
                                    <div class="card card-pricing">
                                        <div class="card-body text-center">
                                            <i class="card-pricing-icon mdi mdi-airplane text-white bg-primary"></i>
                                            <h5 class="font-weight-bold mt-4 text-uppercase">Starter Pack</h5>
                                            
                                            <ul class="card-pricing-features">
                                                <li>10 GB Storage</li>
                                                <li>500 GB Bandwidth</li>
                                                <li>No Domain</li>
                                                <li>1 User</li>
                                                <li>Email Support</li>
                                                <li>24x7 Support</li>
                                            </ul>

                                            <h2 class="mt-4">$99</h2>
                                            <p class="text-muted">Per Month</p>
                                            <button class="btn btn-primary mt-4 mb-2 btn-rounded">Get Started <i class="mdi mdi-arrow-right ml-1"></i></button>
                                        </div>
                                    </div> <!-- end Pricing_card -->
                                </div> <!-- end col -->

                                <div class="col-md-4">
                                    <div class="card card-pricing">
                                        <div class="card-body text-center">
                                            <i class="card-pricing-icon mdi mdi-trophy-award text-white bg-success"></i>
                                            <h5 class="font-weight-bold mt-4 text-uppercase text-success">Professional Pack</h5>
                                            <ul class="card-pricing-features">
                                                <li>50 GB Storage</li>
                                                <li>900 GB Bandwidth</li>
                                                <li>2 Domain</li>
                                                <li>10 User</li>
                                                <li>Email Support</li>
                                                <li>24x7 Support</li>
                                            </ul>

                                            <h2 class="mt-4">$149</h2>
                                            <p class=" text-muted">Per Month</p>
                                            <button class="btn btn-success mt-4 mb-2 btn-rounded">Get Started <i class="mdi mdi-arrow-right ml-1"></i></button>
                                        </div>
                                    </div> <!-- end Pricing_card -->
                                </div> <!-- end col -->

                                <div class="col-md-4">
                                    <div class="card card-pricing">
                                        <div class="card-body text-center">
                                            <i class="card-pricing-icon mdi mdi mdi-umbrella text-white bg-primary"></i>
                                            <h5 class="font-weight-bold mt-4 text-uppercase">Enterprise Pack</h5>
                                            <ul class="card-pricing-features">
                                                <li>100 GB Storege</li>
                                                <li>Unlimited Bandwidth</li>
                                                <li>10 Domain</li>
                                                <li>Unlimited User</li>
                                                <li>Email Support</li>
                                                <li>24x7 Support</li>
                                            </ul>

                                            <h2 class="mt-4">$199</h2>
                                            <p class="text-muted">Per Month</p>
                                            <button class="btn btn-primary mt-4 mb-2 btn-rounded">Get Started <i class="mdi mdi-arrow-right ml-1"></i></button>
                                        </div>
                                    </div> <!-- end Pricing_card -->
                                </div> <!-- end col -->

                            </div>
                            <!-- end row -->

                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->
                    
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            2019 © Xacton.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Design & Develop by Myra
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Overlay-->
    <div class="menu-overlay"></div>
